body{
  background-image: url("images/back1.png");
  background-repeat: no-repeat;
  margin: 0;
}
.Heading{
    font-family: 'Lobster', cursive;
    font-family: 'Rubik Moonrocks', cursive;
    font-size: 40px;
}
#h01{
    text-align: center;
    color: black;
    font-size: 60px;
}
.blue-highlight{
    color: blueviolet;
}
.tittle{
    font-size: 30px;
    background-color: black;
    color: aqua;
    width: max-content;
}
.half-width{
  font-size: 20px;
  width: 40%;
  float: left;
  margin-left: 5%;
  margin-bottom: 5%;
  padding-left: 2%;
  height: 490px;
}
.topside{
  padding-bottom: 150px;
}
.half-width img{
    width: 80%;
}
.dreamArea img{
  width: 80%;
}
section{
  height: 490px;
}
.link-button{
  color: yellow;
  text-decoration: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-weight: bold;
  background-image: linear-gradient(45deg, rgb(5, 250, 254), rgb(14, 14, 250));
}
.dreamArea{
  height: 490px;
  background-size: contain;
  background-image: url("images/back2.png");
  background-repeat: no-repeat;
  background-position: right;
  padding-bottom: 150px;
}
#exper{
  margin: 30px;
}
.experience-box{
  box-shadow: 10px 10px 40px gray;
  border-radius: 10px;
  height: 80%;
}
.experience-area{
  background-image: url("images/expback.png");
  background-repeat: no-repeat;
  background-position: left;
}
#experience-border{
  border-left: 7px solid;
  border-image: linear-gradient(yellow, rgb(49, 59, 4));
  border-image-slice: 1;
  background-color: white;
}
#noob-border{
  border-left: 7px solid;
  border-image: linear-gradient(rgba(11, 243, 193, 0.966), rgb(7, 90, 243));
  border-image-slice: 1;
  background-color: white;
}
.exp-heading{
  font-size: 50px;
}
#footer{
  text-align: center;

}

#hire:hover{
  color: chartreuse;
}